body {
    background-color: blue;
    display:inline-block;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    padding-left:35%;
    padding-right:35%;
    height: 100vh;
}
#title{
    font-size: 100px;
    color: white;
    position:flex;
    top: 25px;
    padding-bottom:0px;

}
#attributions{
    font-size: 30px;
    color: white;
    position:inline-block;
    top: 0px;

}
.bar {
    width: 500px;
    height: 40px;
    background-color: white;
    position: relative;
    border-radius: 20px;
}
.circle {
    width: 60px;
    height: 60px;
    background-color: darkred; /* Updated color */
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: 0; /* Updated position */
    cursor: grab;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
}

p{
    color:white;
}

#chooseMessage{
    position:flex;
    top: 250px;
    font-size: 20px;
    color: white;
}

#output{
    position:flex;
    top: 250px;
    font-size: 20px;
    color: white;
}